<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>springboot-thymeleaf demo</title>
    <link rel="stylesheet" type="text/css" th:href="${#httpServletRequest.getContextPath()+'/css/myTable.css'}" />
</head>

<body>
    <h1 style="text-align:center">thymeleaf demo</h1>
    <table class="myTable">
        <tr>
            <th>序号</th>
            <th>用户名</th>
            <th>年龄</th>
        </tr>
        <tr th:each="user:${list}">
            <td th:text="${user.id}"></td>
            <td th:text="${user.name}"></td>
            <td th:text="${user.pwd}"></td>
        </tr>
    </table>

</body>
</html>